<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr th:each="payment : ${payments}">
            <th th:text="${payment.getDate()}"></th>
            <th th:text="${payment.getCustomer().getFirstName() + ' ' + payment.getCustomer().getLastName()}"></th>
            <th th:text="${payment.getBiller().getName()}"></th>
            <th th:text="${payment.getAccount()}"></th>
            <th th:text="${payment.getAmount()}"></th>
        </tr>
    </table>
</body>
</html>